.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 32px;
  color: "#323232";
  text-decoration: underline;
}

.text {
  line-height: 1.2;
  color: "#424242"
}

.button {
  background: "orange";
  color: "#f3f3f3";
}